body {
  background: #f0f5f8;
}
main.container {
  min-height: calc(100vh - 160px);
}
.gallery-img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: #d8d6d6; /* cor de fundo para preencher o espaço */
  border-radius: 8px;
  padding: 4px;
  transition: 0.3s;
  display: block;
}

.gallery-img:hover{
  transform: scale(1.1);
}
